@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,500..800;1,500..800&display=swap');
:root {
    --body-font:Figtree, sans-serif;
    --color-yellow:hsl(47, 88%, 63%);
    --color-white:hsl(0, 0%, 100%);
    --color-ltgrey:hsl(0, 0%, 42%);
    --color-dkgray:hsl(0, 0%, 7%);
}
body {
    margin:0;
    padding:0;
    background-color:var(--color-yellow);
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Figtree, sans-serif;
}

section {
    background-color: var(--color-white);
    width:21em;
    padding:1.5em;
    border-radius:2em;
    border:1px solid var(--color-dkgray);
    box-shadow: 10px 10px var(--color-dkgray);
}
.illustration {
    border-radius: 1em;
}
.date {
    font-weight: bold;
    color:var(--color-dkgray);

}
.learning {
    background-color:var(--color-yellow);
    width:fit-content;
    padding:0.2em 1em;
    border-radius: 0.5em;
}
.content {
    color:var(--color-ltgrey);
    text-align:justify;
}
.profile {
    height:3em;
    width:3em;
    margin-right:1em;
}

.profile-name {
    display:flex;
    height:3em;
    align-items: center;
    
}
@media (max-width: 600px) {

    section {
        width: 15em;
    }

    .illustration {
        width:15em;
        
    }

}
